<!doctype html>

<head>
  <title>Boggle</title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
  <div id="logo-container">
    <img src="images/logo.png">
  </div>
  <div id="board">
    <% for (var i = 0; i < 25; i ++) { %>
      <div class="square" ></div>
    <% } %>
  </div>
  <div id="currentWord">
    <strong>Current word:</strong> <span></span>
    <button id="submitWord">Submit</button>
  </div>
  <table id="score">
    <thead>
      <tr>
        <td>Word</td>
        <td>Score</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>0</td>
      </tr>
    </tfoot>
  </table>
  <button id="solve">Solve puzzle</button>
</body>

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script>
